body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.alignment_of_header{
    width: 100%;
    display: flex;
    justify-content: center;
    
    background: rgba(56, 109, 216, 0.993);
}

.header{
    height: 5vh;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.left-side{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logoImage{
    font-size: 28px;
}
.logoImage a{
    color: rgba(255, 255, 255, 0.788);
}
.left-side span{
    padding: 0px 0px 2px 10px;
    font-size: 25px;
    color: white;
}
.right-side{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}
.general-info{
    display: flex;
    justify-content: space-evenly;
}
.general-info a{
    font-size: 22px;
    color: rgba(236, 236, 236, 0.788)
}
.question_icon{
    padding-right: 15px;
}
.doc_icon{
    padding-right: 5px;
}
.question_icon:hover{
    color: #e3e3e3;
}
.doc_icon:hover{
    color: #e3e3e3;
}
